<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" class="pos-relative">
<head th:include="header :: header(~{::meta},~{::title},~{::link})">
    <!-- csrf -->
    <meta name="_csrf" content="" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" content="" th:content="${_csrf.headerName}"/>
    <title th:text="'花名册-' + #{ web.title}">ZHE</title>

    <link rel="stylesheet" href="plugins/select2/css/select2.min.css"
          th:href="@{/plugins/select2/css/select2.min.css}"/>
    <!-- Bracket CSS -->
    <link rel="stylesheet" href="plugins/css/bracket.css" th:href="@{/plugins/bracket/css/bracket.min.css}"/>
    <!-- messenger CSS -->
    <link href="/plugins/messenger/messenger.css" th:href="@{/webjars/messenger/build/css/messenger.css}"
          rel="stylesheet"/>
    <link href="/plugins/messenger/messenger-theme-flat.css"
          th:href="@{/webjars/messenger/build/css/messenger-theme-flat.css}" rel="stylesheet"/>
</head>
<body>

<div class="d-flex align-items-center justify-content-center bg-br-primary">

    <div class="login-wrapper wd-300 wd-xs-600 pd-25 pd-xs-40 bg-white rounded shadow-base mg-t-20 mg-b-20"
         id="page-wrapper">
        <div class="signin-logo tx-center tx-28 tx-bold tx-inverse"><span class="tx-normal">[</span> <span
                th:text="${rosterRelease.title}"></span> <span class="tx-normal">]</span></div>
        <p class="mg-b-10 mg-lg-b-20 text-info">说明：此信息表作为学校“学生信息库”及“学生证”信息依据，请认真核对填写！</p>
        <p class="mg-b-10 mg-lg-b-20 text-info">1、请每位同学仔细核对个人信息。</p>
        <p class="mg-b-10 mg-lg-b-20 text-info">2、请认真填写空栏信息，“乘车区间”所填写的一定是：乘火车回家最终到站的站名，学生证一经办理不再修改，请同学们慎重清楚的填写。</p>
        <p class="mg-b-10 mg-lg-b-20 text-info">3、请各系按核对后的本表填写、修改电子版表格，完成后将纸质原件和电子版表格一同交教学教务中心。</p>
        <div class="row mg-b-10 mg-lg-b-20 text-success">
            <div class="col-md-6">
                <span>开始填写时间：</span><span th:text="${startTimeStr}"></span>
            </div>
            <div class="col-md-6">
                <span>结束填写时间：</span><span th:text="${endTimeStr}"></span>
            </div>
            <div class="col-md-12">
                <span>备注：</span><span th:text="${rosterRelease.remark}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="tx-info">一、基本信息</h4>
                <div class="form-group">
                    <label>学号</label>
                    <input class="form-control" name="studentNumber"
                           id="studentNumber" placeholder="学号"/>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                    <label>姓名</label>
                    <input class="form-control" name="realName"
                           id="realName" placeholder="姓名"/>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                    <label>姓名拼音</label>
                    <input class="form-control" name="namePinyin"
                           id="namePinyin" placeholder="姓名拼音" aria-describedby="namePinyinHelp"/>
                    <div class="invalid-feedback"></div>
                    <small id="namePinyinHelp" class="form-text text-muted">如：ZhangSan，首字母大写，且中间不要有空格
                    </small>
                </div>
                <div class="form-group">
                    <label>身份证号</label>
                    <input class="form-control"
                           id="idCard" name="idCard" placeholder="身份证号">
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                    <label>性别</label>
                    <select id="sex" name="sex" class="form-control">
                        <option value="">请选择性别</option>
                        <option value="男">男</option>
                        <option value="女">女</option>
                    </select>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                    <label>生日</label>
                    <input class="form-control"
                           id="birthday" name="birthday" placeholder="生日">
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                    <label>政治面貌</label>
                    <select id="politicalLandscape" name="politicalLandscapeId"
                            class="form-control">
                        <option value="">请选择政治面貌</option>
                    </select>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                    <label>民族</label>
                    <select class="form-control select2-show-search" id="nation" name="nationId"
                            data-placeholder="请选择民族">
                        <option label="请选择民族"></option>
                    </select>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                    <label>班级</label>
                    <select class="form-control select2-show-search" id="organize" data-placeholder="请选择班级">
                        <option label="请选择班级"></option>
                    </select>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                    <label>省份</label>
                    <input class="form-control" name="province"
                           id="province" placeholder="省份" aria-describedby="provinceHelp"/>
                    <div class="invalid-feedback"></div>
                    <small id="provinceHelp" class="form-text text-muted">如：云南省
                    </small>
                </div>
                <div class="form-group">
                    <label>籍贯</label>
                    <input class="form-control" name="nativePlace"
                           id="nativePlace" placeholder="籍贯"/>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                    <label>所属地区</label>
                    <input class="form-control" name="region"
                           id="region" placeholder="所属地区" aria-describedby="regionHelp"/>
                    <div class="invalid-feedback"></div>
                    <small id="regionHelp" class="form-text text-muted">如：昆明市
                    </small>
                </div>
                <div class="form-group">
                    <label>乘车区间</label>
                    <div class="input-group">
                        <span class="input-group-addon">昆明——</span>
                        <input class="form-control" name="busSection"
                               id="busSection" placeholder="乘车区间" aria-describedby="busSectionHelp"/>
                    </div>
                    <div class="invalid-feedback"></div>
                    <small id="busSectionHelp" class="form-text text-muted">“乘车区间”所填写的一定是：乘火车回家最终到站的站名，学生证一经办理不再修改，请同学们慎重清楚的填写。
                    </small>
                </div>
                <div class="form-group">
                    <label>家长姓名</label>
                    <input class="form-control" name="parentName"
                           id="parentName" placeholder="家长姓名"/>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                    <label>家长联系电话</label>
                    <input class="form-control" name="parentContactPhone"
                           id="parentContactPhone" placeholder="家长联系电话"/>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                    <label>家长详细联系地址</label>
                    <input class="form-control" name="parentContactAddress"
                           id="parentContactAddress" placeholder="家长详细联系地址"
                           aria-describedby="parentContactAddressHelp"/>
                    <div class="invalid-feedback"></div>
                    <small id="parentContactAddressHelp" class="form-text text-muted">请填写家庭详细地址
                    </small>
                </div>
                <div class="form-group">
                    <label>邮政编码</label>
                    <input class="form-control" name="zipCode"
                           id="zipCode" placeholder="邮政编码"/>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                    <label>本人联系电话</label>
                    <input class="form-control" name="phoneNumber"
                           id="phoneNumber" placeholder="本人联系电话"/>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                    <label>邮箱</label>
                    <input class="form-control" name="email"
                           id="email" placeholder="邮箱"/>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                    <label>考生类别</label>
                    <select id="candidatesType" name="candidatesType" class="form-control">
                        <option value="0">城镇应届</option>
                        <option value="1">城市往届</option>
                        <option value="2">农村应届</option>
                        <option value="3">农村往届</option>
                    </select>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                    <label>是否残疾人</label>
                    <select id="isDeformedMan" name="isDeformedMan" class="form-control">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group" style="display: none">
                    <label>残疾人编号</label>
                    <input class="form-control" id="deformedManCode" name="deformedManCode"
                           placeholder="残疾人编号">
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                    <label>是否进行兵役登记</label>
                    <select id="isMilitaryServiceRegistration" name="isMilitaryServiceRegistration"
                            class="form-control">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                    <label>是否办理生源地贷款</label>
                    <select id="isProvideLoan" name="isProvideLoan" class="form-control">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                    <label>大学任职情况</label>
                    <input class="form-control" id="universityPosition" name="universityPosition"
                           placeholder="大学任职情况" aria-describedby="universityPositionHelp">
                    <div class="invalid-feedback"></div>
                    <small id="universityPositionHelp" class="form-text text-muted">如：班长、信息员、系学生会XX部门部委、院学生会XX部门部长
                    </small>
                </div>
                <div class="form-group">
                    <label>是否为贫困生</label>
                    <select id="isPoorStudents" name="isPoorStudents" class="form-control">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group" style="display: none">
                    <label>贫困生类型</label>
                    <select id="poorStudentsType" name="poorStudentsType" class="form-control">
                        <option value="">请选择</option>
                        <option value="0">一般困难</option>
                        <option value="1">贫困</option>
                        <option value="2">特困</option>
                        <option value="3">建档立卡户</option>
                    </select>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                    <label>是否外宿</label>
                    <select id="isStayOutside" name="isStayOutside" class="form-control">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                    <label>宿舍号</label>
                    <input class="form-control" id="dormitoryNumber" name="dormitoryNumber"
                           placeholder="宿舍号" aria-describedby="dormitoryNumberHelp" data-mask="99-999">
                    <div class="invalid-feedback"></div>
                    <small id="dormitoryNumberHelp" class="form-text text-muted">如：填写06-603，表示6栋603室
                    </small>
                </div>
                <div class="form-group" style="display: none">
                    <label>外宿类型</label>
                    <select id="stayOutsideType" name="stayOutsideType" class="form-control">
                        <option value="">请选择</option>
                        <option value="0">住自家</option>
                        <option value="1">亲戚家</option>
                        <option value="2">同学家</option>
                        <option value="3">租房</option>
                    </select>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group" style="display: none">
                    <label>外宿详细地址具体到门牌号</label>
                    <input class="form-control" id="stayOutsideAddress" name="stayOutsideAddress"
                           placeholder="外宿详细地址具体到门牌号">
                    <div class="invalid-feedback"></div>
                </div>
                <h4 class="tx-info">二、团员信息（团员填写）</h4>
                <p class="tx-black">若记不清或没有，可不填写，先提交，稍后注册完成，进系统再编辑。</p>
                <div class="form-group">
                    <label>入团时间</label>
                    <div class="input-group flatpickr">
                        <input type="text" class="form-control"
                               id="leagueMemberJoinDate" name="leagueMemberJoinDate" placeholder="入团时间"
                               data-input>
                        <span class="input-group-addon tx-size-sm lh-2" title="toggle" data-toggle><i
                                class="fa fa-calendar" aria-hidden="true"></i></span>
                        <span class="input-group-addon tx-size-sm lh-2" title="clear" data-clear><i
                                class="fa fa-close" aria-hidden="true"></i></span>
                    </div>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                    <label>是否注册志愿者</label>
                    <select id="isRegisteredVolunteers" name="isRegisteredVolunteers" class="form-control">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                    <label>团籍档案是否完整</label>
                    <select id="isOkLeagueMembership" name="isOkLeagueMembership" class="form-control"
                            aria-describedby="isOkLeagueMembershipHelp">
                        <option value="">请选择</option>
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                    <div class="invalid-feedback"></div>
                    <small id="isOkLeagueMembershipHelp" class="form-text text-muted">“三不缺”入团申请书、入团志愿书、介绍信；“四准确”-团员编号正确、入团志愿书填写准确、智慧团建系统团员名字准确、智慧团建系统团员身份证号准确
                    </small>
                </div>
                <h4 class="tx-info">三、党员信息（积极分子，预备党员，正式党员填写）</h4>
                <p class="tx-black">若记不清或没有，可不填写，先提交，稍后注册完成，进系统再编辑。</p>
                <div class="form-group">
                    <label>递交入党申请书时间</label>
                    <div class="input-group flatpickr">
                        <input type="text" class="form-control"
                               id="applyPartyMembershipDate" name="applyPartyMembershipDate"
                               placeholder="递交入党申请书时间" data-input>
                        <span class="input-group-addon tx-size-sm lh-2" title="toggle" data-toggle><i
                                class="fa fa-calendar" aria-hidden="true"></i></span>
                        <span class="input-group-addon tx-size-sm lh-2" title="clear" data-clear><i
                                class="fa fa-close" aria-hidden="true"></i></span>
                    </div>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                    <label>列积极分子时间</label>
                    <div class="input-group flatpickr">
                        <input type="text" class="form-control"
                               id="becomeActivistsDate" name="becomeActivistsDate" placeholder="列积极分子时间"
                               data-input>
                        <span class="input-group-addon tx-size-sm lh-2" title="toggle" data-toggle><i
                                class="fa fa-calendar" aria-hidden="true"></i></span>
                        <span class="input-group-addon tx-size-sm lh-2" title="clear" data-clear><i
                                class="fa fa-close" aria-hidden="true"></i></span>
                    </div>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                    <label>列预备党员时间</label>
                    <div class="input-group flatpickr">
                        <input type="text" class="form-control"
                               id="becomeProbationaryPartyMemberDate" name="becomeProbationaryPartyMemberDate"
                               placeholder="列预备党员时间" data-input>
                        <span class="input-group-addon tx-size-sm lh-2" title="toggle" data-toggle><i
                                class="fa fa-calendar" aria-hidden="true"></i></span>
                        <span class="input-group-addon tx-size-sm lh-2" title="clear" data-clear><i
                                class="fa fa-close" aria-hidden="true"></i></span>
                    </div>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                    <label>转正时间（入党时间）</label>
                    <div class="input-group flatpickr">
                        <input type="text" class="form-control"
                               id="joiningPartyDate" name="joiningPartyDate" placeholder="转正时间（入党时间）"
                               data-input>
                        <span class="input-group-addon tx-size-sm lh-2" title="toggle" data-toggle><i
                                class="fa fa-calendar" aria-hidden="true"></i></span>
                        <span class="input-group-addon tx-size-sm lh-2" title="clear" data-clear><i
                                class="fa fa-close" aria-hidden="true"></i></span>
                    </div>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-info btn-block" id="save">提 交</button>
    </div><!-- login-wrapper -->
</div><!-- d-flex -->

<input type="hidden" id="rosterReleaseId" th:value="${rosterRelease.rosterReleaseId}"/>
<input type="hidden" id="collegeId" th:value="${rosterRelease.collegeId}"/>
<input type="hidden" id="grade" th:value="${rosterRelease.grade}"/>

<script src="webjarsjs" th:src="@{/webjarsjs}"></script>
<script src="webjars/requirejs/require.min.js" th:src="@{/webjars/requirejs/require.min.js}"
        data-main="/roster_data_outer_add"></script>
<script th:inline="javascript">
    var web_path = /*[[${#httpServletRequest.getContextPath()}]]*/ '';
    require.config({
        baseUrl: web_path + "/js/campus/roster",
        waitSeconds: 0,
        urlArgs: "v=" + /*[[${staticResourceVersion}]]*/ ''
    });
</script>
</body>

</html>
