<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<div id="page-wrapper">
    <div class="br-pageheader pd-y-15 pd-l-20">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
            <a class="breadcrumb-item dy_href" href="#/web/menu/internship/release">列表</a>
            <span class="breadcrumb-item active">编辑</span>
        </nav>
    </div><!-- br-pageheader -->
    <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
        <h4 class="tx-gray-800 mg-b-5">实习发布</h4>
        <p class="mg-b-0">编辑实习发布。</p>
    </div>

    <div class="br-pagebody">
        <div class="br-section-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <form id="app_form">
                        <div class="form-group">
                            <label>标题</label>
                            <input class="form-control" name="internshipTitle"
                                   th:value="${internshipRelease.internshipTitle}"
                                   id="internshipTitle" placeholder="标题" maxlength="100"/>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <label>实习类型</label>
                            <input class="form-control" name="internshipTypeName"
                                   th:value="${internshipRelease.internshipTypeName}" readonly="readonly"/>
                            <small id="internshipTypeHelp" class="form-text text-muted">注意：此字段保存后不可编辑</small>
                        </div>
                        <div class="form-group">
                            <label class="ckbox">
                                <input type="checkbox" id="isTimeLimit" name="isTimeLimit" value="1"
                                       th:if="${internshipRelease.isTimeLimit == 0 || internshipRelease.isTimeLimit == null}"/>
                                <input type="checkbox" id="isTimeLimit" name="isTimeLimit" value="1" checked="checked"
                                       th:if="${internshipRelease.isTimeLimit == 1}"/>
                                <span>教师分配及申请时间限制</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>指导教师分配时间</label>
                            <input class="form-control" name="teacherDistributionTime" id="teacherDistributionTime"
                                   placeholder="指导教师分配时间"/>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <label>实习申请时间</label>
                            <input class="form-control" name="time" id="time" placeholder="实习申请时间"/>
                            <div class="invalid-feedback"></div>
                            <small id="timeHelp" class="form-text text-muted">建议：实习申请时间应晚于指导教师分配时间</small>
                        </div>
                        <div class="form-group" sec:authorize="hasRole('ROLE_SYSTEM')">
                            <label>学校</label>
                            <input class="form-control" name="schoolName" th:value="${internshipRelease.schoolName}"
                                   readonly="readonly"/>
                        </div>
                        <div class="form-group" sec:authorize="hasRole('ROLE_SYSTEM')">
                            <label>院</label>
                            <input class="form-control" name="collegeName" th:value="${internshipRelease.collegeName}"
                                   readonly="readonly"/>
                        </div>
                        <div class="form-group">
                            <label>系</label>
                            <input class="form-control" name="departmentName"
                                   th:value="${internshipRelease.departmentName}"
                                   readonly="readonly"/>
                        </div>
                        <div class="form-group">
                            <label>专业</label>
                            <input class="form-control" name="scienceName" th:value="${internshipRelease.scienceName}"
                                   readonly="readonly"/>
                            <small id="scienceHelp" class="form-text text-muted">注意：此字段保存后不可编辑</small>
                        </div>
                        <div class="form-group">
                            <label class="ckbox">
                                <input type="checkbox" name="internshipReleaseIsDel" value="1"
                                       th:if="${internshipRelease.internshipReleaseIsDel == 0 || internshipRelease.internshipReleaseIsDel == null}"/>
                                <input type="checkbox" name="internshipReleaseIsDel" value="1" checked="checked"
                                       th:if="${internshipRelease.internshipReleaseIsDel == 1}"/>
                                <span>注销</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>附件</label>
                            <div class="bd bd-gray-300 rounded table-responsive">
                                <table class="table mg-b-0">
                                    <thead>
                                    <tr>
                                        <th>文件名</th>
                                        <th>大小</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody id="fileShow">
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center mg-t-7">
                                <!-- The global progress bar -->
                                <div id="progress" class="progress">
                                    <div class="progress-bar progress-bar-success"></div>
                                </div>
                                <p class="mg-t-10">
                            <span class="btn btn-primary fileinput-button">
                                <span>添加附件</span>
                                <!-- The file input field used as target for the file upload widget -->
                                <input id="fileupload" type="file" name="files[]" multiple="multiple"/>
                            </span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button type="button" class="btn btn-primary text-center" id="save">保存</button>
                            <button type="reset" class="btn btn-default">重置</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script id="file-template" type="text/x-handlebars-template">
        {{#each listResult}}
        <tr>
            <th scope="row" class="file" data-file-path="{{lastPath}}" data-original-file-name="{{originalFileName}}"
                data-new-name="{{newName}}" data-ext="{{ext}}" data-size="{{fileSize}}"
                data-content-type="{{contentType}}">
                {{originalFileName}}.{{ext}}
            </th>
            <td>{{translationSize}}</td>
            <td>
                <button type="button" class="btn btn-danger btn-sm clearFile" data-file-path="{{lastPath}}"
                        data-original-file-name="{{originalFileName}}"
                        data-file-id="{{fileId}}">删除
                </button>
            </td>
        </tr>
        {{/each}}
    </script>

    <input type="hidden" th:value="${internshipRelease.internshipReleaseId}"
           id="paramInternshipReleaseId"/>
    <input type="hidden" th:value="${internshipRelease.teacherDistributionStartTimeStr}"
           id="paramTeacherDistributionStartTime"/>
    <input type="hidden" th:value="${internshipRelease.teacherDistributionEndTimeStr}"
           id="paramTeacherDistributionEndTime"/>
    <input type="hidden" th:value="${internshipRelease.startTimeStr}" id="paramStartTime"/>
    <input type="hidden" th:value="${internshipRelease.endTimeStr}" id="paramEndTime"/>
    <input type="hidden" id="collegeId" th:value="${collegeId}"/>
    <input type="hidden" class="dy_script"
           th:value="${@mvcResourceUrlProvider.getForLookupPath('/js/internship/release/internship_release_edit.js')}"/>
</div>
<!-- /#page-wrapper -->
</body>

</html>
