/.idea/*
/logs
/target/*
/root/*
/settings/temp/*
*.pfx
/node_modules/
/src/main/resources/application-secrecy.yml
/src/main/resources/application-dev.yml
/src/main/resources/application-prod.yml
/src/main/resources/application-cluster.yml
/src/main/resources/static/files/*
