<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<div id="page-wrapper">
    <div class="br-pageheader pd-y-15 pd-l-20">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
            <a class="breadcrumb-item dy_href" href="#/web/menu/data/organize">列表</a>
            <span class="breadcrumb-item active">编辑</span>
        </nav>
    </div><!-- br-pageheader -->
    <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
        <h4 class="tx-gray-800 mg-b-5">班级数据</h4>
        <p class="mg-b-0">添加班级数据。</p>
    </div>

    <div class="br-pagebody">
        <div class="br-section-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <form id="app_form">
                        <div class="form-group" sec:authorize="hasRole('ROLE_SYSTEM')">
                            <select class="form-control select2-show-search" id="school" name="schoolId"
                                    data-placeholder="请选择学校">
                                <option label="请选择学校"></option>
                            </select>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-group" sec:authorize="hasRole('ROLE_SYSTEM')">
                            <select class="form-control select2-show-search" id="college" name="collegeId"
                                    data-placeholder="请选择院">
                                <option label="请选择院"></option>
                            </select>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <select class="form-control select2-show-search" id="department" name="departmentId"
                                    data-placeholder="请选择系">
                                <option label="请选择系"></option>
                            </select>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <select class="form-control select2-show-search" id="science" name="scienceId"
                                    data-placeholder="请选择专业">
                                <option label="请选择专业"></option>
                            </select>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <select class="form-control select2-show-search" name="gradeId" id="grade"
                                    data-placeholder="请选择年级">
                                <option label="请选择年级"></option>
                            </select>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <label>班级</label>
                            <input class="form-control" name="organizeName" id="organizeName" maxlength="200"
                                   placeholder="班级名" th:value="${organize.organizeName}"/>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <label>班主任</label>
                            <input class="form-control" name="staff" id="staff"
                                   placeholder="班主任账号/工号" th:value="${username}"/>
                            <div class="invalid-feedback"></div>
                            <small id="staffHelp" class="form-text text-muted"
                                   th:if="${null != username && '' != username}" th:text="${realName + ' ' + mobile}">
                            </small>
                            <small id="staffHelp" class="form-text text-muted"
                                   th:if="${null == username || '' == username}">
                            </small>
                        </div>
                        <div class="form-group">
                            <label class="ckbox">
                                <input type="checkbox" name="organizeIsDel" value="1"
                                       th:if="${organize.organizeIsDel == 0 || organize.organizeIsDel == null}"/>
                                <input type="checkbox" name="organizeIsDel" value="1" checked="checked"
                                       th:if="${organize.organizeIsDel == 1}"/>
                                <span>注销</span>
                            </label>
                        </div>
                        <div class="form-group text-center">
                            <button type="button" class="btn btn-primary text-center" id="save">保存</button>
                            <button type="reset" class="btn btn-default">重置</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="paramSchoolId" th:value="${organize.schoolId}"/>
    <input type="hidden" id="paramCollegeId" th:value="${organize.collegeId}"/>
    <input type="hidden" id="paramDepartmentId" th:value="${organize.departmentId}"/>
    <input type="hidden" id="paramScienceId" th:value="${organize.scienceId}"/>
    <input type="hidden" id="paramGradeId" th:value="${organize.gradeId}"/>
    <input type="hidden" id="paramOrganizeId" th:value="${organize.organizeId}"/>
    <input type="hidden" id="collegeId" th:value="${collegeId}"/>
    <input type="hidden" class="dy_script"
           th:value="${@mvcResourceUrlProvider.getForLookupPath('/js/data/organize/organize_edit.js')}"/>
</div>
<!-- /#page-wrapper -->
</body>

</html>
