<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<div id="page-wrapper">
    <div class="br-pageheader pd-y-15 pd-l-20">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
            <a class="breadcrumb-item dy_href" href="#/web/internship/apply/my">列表</a>
            <span class="breadcrumb-item active">实习申请</span>
        </nav>
    </div><!-- br-pageheader -->
    <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
        <h4 class="tx-gray-800 mg-b-5">实习申请</h4>
        <p class="mg-b-0">查看申请。</p>
    </div>

    <div class="br-pagebody">
        <div class="br-section-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <form id="app_form">
                        <div class="form-group">
                            <label>学生姓名</label>
                            <input class="form-control" th:value="${internshipInfo.studentName}" name="realName"
                                   id="realName"
                                   placeholder="学生姓名" readonly="readonly"/>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <label>专业班级</label>
                            <input class="form-control" th:value="${internshipInfo.organizeName}" name="organizeName"
                                   id="organizeName" placeholder="专业班级" readonly="readonly"/>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <label>学生性别</label>
                            <select id="sex" name="studentSex" class="form-control" disabled="disabled">
                                <option value="">请选择性别</option>
                                <option value="男" selected="selected">男</option>
                                <option value="女">女</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>学生学号</label>
                            <input class="form-control" th:value="${internshipInfo.studentNumber}" name="studentNumber"
                                   id="studentNumber" placeholder="学生学号" readonly="readonly"/>
                        </div>
                        <div class="form-group">
                            <label>电话号码</label>
                            <input class="form-control" th:value="${internshipInfo.mobile}" name="mobile" id="mobile"
                                   placeholder="电话号码" readonly="readonly"/>
                        </div>
                        <div class="form-group">
                            <label>QQ邮箱</label>
                            <input class="form-control" name="qqMailbox" th:value="${internshipInfo.qqMailbox}"
                                   id="qqMailbox"
                                   placeholder="QQ邮箱" readonly="readonly"/>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <label>父母联系电话</label>
                            <input class="form-control" th:value="${internshipInfo.parentContactPhone}"
                                   name="parentContactPhone"
                                   id="parentContactPhone" placeholder="父母联系电话" readonly="readonly"/>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <label>班主任</label>
                            <select class="form-control select2-show-search" id="staff" name="staffId"
                                    data-placeholder="请选择班主任" disabled="disabled">
                                <option label="请选择班主任"></option>
                            </select>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <label>实习单位名称</label>
                            <input class="form-control" name="companyName" id="companyName"
                                   placeholder="实习单位名称" th:value="${internshipInfo.companyName}" readonly="readonly"/>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <label>实习单位地址</label>
                            <input class="form-control" name="companyAddress" id="companyAddress"
                                   placeholder="实习单位地址" th:value="${internshipInfo.companyAddress}"
                                   readonly="readonly"/>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <label>实习单位联系人</label>
                            <input class="form-control" name="companyContact" id="companyContact"
                                   placeholder="实习单位联系人" th:value="${internshipInfo.companyContact}"
                                   readonly="readonly"/>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <label>实习单位联系人联系方式</label>
                            <input class="form-control" name="companyMobile" id="companyMobile"
                                   placeholder="实习单位联系人联系方式" th:value="${internshipInfo.companyMobile}"
                                   readonly="readonly"/>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <label>校内指导教师</label>
                            <input class="form-control" name="schoolGuidanceTeacher"
                                   th:value="${internshipInfo.schoolGuidanceTeacher + ' ' + internshipInfo.schoolGuidanceTeacherTel}"
                                   id="schoolGuidanceTeacher" placeholder="校内指导教师" readonly="readonly"/>
                        </div>
                        <div class="form-group">
                            <label>实习开始时间</label>
                            <input class="form-control" name="startTime" id="startTime" placeholder="实习开始时间"
                                   th:value="${internshipInfo.startTime}" readonly="readonly"/>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <label>实习结束时间</label>
                            <input class="form-control" name="endTime" id="endTime" placeholder="实习结束时间"
                                   th:value="${internshipInfo.endTime}" readonly="readonly"/>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <label class="ckbox">
                                <input type="checkbox" name="commitmentBook" value="1" disabled="disabled"
                                       th:if="${internshipInfo.commitmentBook == 0 || internshipInfo.commitmentBook == null}"/>
                                <input type="checkbox" name="commitmentBook" value="1" disabled="disabled"
                                       checked="checked" th:if="${internshipInfo.commitmentBook == 1}"/>
                                <span>承诺书</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="ckbox">
                                <input type="checkbox" name="safetyResponsibilityBook" value="1" disabled="disabled"
                                       th:if="${internshipInfo.safetyResponsibilityBook == 0 || internshipInfo.safetyResponsibilityBook == null}"/>
                                <input type="checkbox" name="safetyResponsibilityBook" value="1" disabled="disabled"
                                       checked="checked" th:if="${internshipInfo.safetyResponsibilityBook == 1}"/>
                                <span>安全责任书</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="ckbox">
                                <input type="checkbox" name="practiceAgreement" value="1" disabled="disabled"
                                       th:if="${internshipInfo.practiceAgreement == 0 || internshipInfo.practiceAgreement == null}"/>
                                <input type="checkbox" name="practiceAgreement" value="1" disabled="disabled"
                                       checked="checked" th:if="${internshipInfo.practiceAgreement == 1}"/>
                                <span>实践协议书</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="ckbox">
                                <input type="checkbox" name="internshipApplication" value="1" disabled="disabled"
                                       th:if="${internshipInfo.internshipApplication == 0 || internshipInfo.internshipApplication == null}"/>
                                <input type="checkbox" name="internshipApplication" value="1" disabled="disabled"
                                       checked="checked" th:if="${internshipInfo.internshipApplication == 1}"/>
                                <span>实习申请书</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="ckbox">
                                <input type="checkbox" name="practiceReceiving" value="1" disabled="disabled"
                                       th:if="${internshipInfo.practiceReceiving == 0 || internshipInfo.practiceReceiving == null}"/>
                                <input type="checkbox" name="practiceReceiving" value="1" disabled="disabled"
                                       checked="checked" th:if="${internshipInfo.practiceReceiving == 1}"/>
                                <span>实习接收</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="ckbox">
                                <input type="checkbox" name="securityEducationAgreement" value="1" disabled="disabled"
                                       th:if="${internshipInfo.securityEducationAgreement == 0 || internshipInfo.securityEducationAgreement == null}"/>
                                <input type="checkbox" name="securityEducationAgreement" value="1" disabled="disabled"
                                       checked="checked" th:if="${internshipInfo.securityEducationAgreement == 1}"/>
                                <span>安全教育协议</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="ckbox">
                                <input type="checkbox" name="parentalConsent" value="1" disabled="disabled"
                                       th:if="${internshipInfo.parentalConsent == 0 || internshipInfo.parentalConsent == null}"/>
                                <input type="checkbox" name="parentalConsent" value="1" disabled="disabled"
                                       checked="checked" th:if="${internshipInfo.parentalConsent == 1}"/>
                                <span>父母同意书</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>附件下载</label>
                            <div class="bd bd-gray-300 rounded table-responsive">
                                <table class="table mg-b-0">
                                    <thead>
                                    <tr>
                                        <th>文件名</th>
                                        <th>大小</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody id="fileShow">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script id="file-template" type="text/x-handlebars-template">
        {{#each listResult}}
        <tr>
            <th scope="row" class="file" data-file-path="{{lastPath}}" data-original-file-name="{{originalFileName}}"
                data-new-name="{{newName}}" data-ext="{{ext}}" data-size="{{fileSize}}"
                data-content-type="{{contentType}}">
                {{originalFileName}}.{{ext}}
            </th>
            <td>{{translationSize}}</td>
            <td>
                <button type="button" class="btn btn-primary btn-sm downloadFile" data-file-path="{{lastPath}}"
                        data-original-file-name="{{originalFileName}}"
                        data-file-id="{{fileId}}">下载
                </button>
            </td>
        </tr>
        {{/each}}
    </script>

    <input type="hidden" id="paramSex" th:value="${internshipInfo.studentSex}"/>
    <input type="hidden" id="paramInternshipReleaseId" th:value="${internshipInfo.internshipReleaseId}"/>
    <input type="hidden" id="paramHeadmaster" th:value="${internshipInfo.headmaster}"/>
    <input type="hidden" id="paramHeadmasterTel" th:value="${internshipInfo.headmasterTel}"/>
    <input type="hidden" class="dy_script"
           th:value="${@mvcResourceUrlProvider.getForLookupPath('/js/internship/apply/internship_apply_look.js')}"/>
</div>
<!-- /#page-wrapper -->
</body>

</html>