<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<div id="page-wrapper">
    <div class="br-pageheader pd-y-15 pd-l-20">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
            <a class="breadcrumb-item dy_href" href="#/web/menu/training/document">列表</a>
            <a class="breadcrumb-item dy_href" href="javascript:"
               th:href="${'#/web/training/document/list/' + trainingDocument.trainingReleaseId}">实训文档</a>
            <span class="breadcrumb-item active">查看文章</span>
        </nav>
    </div><!-- br-pageheader -->
    <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
        <h4 class="tx-gray-800 mg-b-5">实训文档</h4>
        <p class="mg-b-0">查看文章。</p>
    </div>

    <div class="br-pagebody">
        <div class="br-section-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center text-dark"
                        th:text="${trainingDocument.documentTitle}"></h3>
                    <p class="mg-b-25 mg-lg-b-50 text-center" th:if="${trainingDocument.isOriginal == 1}">
                        原创(转载请注明出处) 阅读量：<span th:text="${trainingDocument.reading}"></span> 创建时间：<span th:text="${trainingDocument.createDateStr}"></span>
                    </p>
                    <p class="mg-b-25 mg-lg-b-50 text-center" th:if="${trainingDocument.isOriginal == 0 || trainingDocument.isOriginal == null}">
                        非原创 转载于：<span th:text="${trainingDocument.origin}"></span> 阅读量：<span th:text="${trainingDocument.reading}"></span> 创建时间：<span th:text="${trainingDocument.createDateStr}"></span>
                    </p>
                    <div id="content" style="max-width: 500px;"></div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="trainingDocumentContent" name="trainingDocumentContent"
           th:value="${trainingDocument.trainingDocumentContent}"/>
    <input type="hidden" class="dy_script"
           th:value="${@mvcResourceUrlProvider.getForLookupPath('/js/training/document/training_document_look.js')}"/>
</div>
<!-- /#page-wrapper -->
</body>

</html>
