<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header(~{::meta},~{::title},~{::link})">
    <!-- csrf -->
    <meta name="_csrf" content="" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" content="" th:content="${_csrf.headerName}"/>

    <title th:text="'后台-' + #{ web.title}">ZHE</title>

    <link rel="stylesheet" href="plugins/select2/css/select2.min.css"
          th:href="@{/plugins/select2/css/select2.min.css}"/>

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="plugins/css/bracket.css" th:href="@{/plugins/bracket/css/bracket.min.css}"/>
    <!-- Loading CSS -->
    <link href="/plugins/loading/css/showLoading.min.css" rel="stylesheet"
          th:href="@{/plugins/loading/css/showLoading.min.css}"/>
    <!-- messenger CSS -->
    <link href="/plugins/messenger/messenger.css" th:href="@{/webjars/messenger/build/css/messenger.css}"
          rel="stylesheet"/>
    <link href="/plugins/messenger/messenger-theme-flat.css"
          th:href="@{/webjars/messenger/build/css/messenger-theme-flat.css}" rel="stylesheet"/>
    <link href="/plugins/perfect-scrollbar/css/perfect-scrollbar.min.css"
          th:href="@{/plugins/perfect-scrollbar/css/perfect-scrollbar.min.css}" rel="stylesheet"/>
</head>
<body>
<!-- ########## START: LEFT PANEL ########## -->
<div class="br-logo"><a href="" th:href="@{/web/menu/backstage}"><span>[</span><i
        style="color: #212529;letter-spacing: -0.5px;" th:text="#{web.app.name}" id="webAppName"></i><span>]</span></a>
</div>
<div class="br-sideleft overflow-y-auto">
    <label class="sidebar-label pd-x-15 mg-t-20">导航</label>
    <div class="br-sideleft-menu" th:utext="${menu}">
    </div><!-- br-sideleft-menu -->
    <label class="sidebar-label pd-x-15 mg-t-25 mg-b-20 tx-info op-9">版本:<span
            th:text="#{web.app.version}"></span></label>
    <br>
</div><!-- br-sideleft -->
<!-- ########## END: LEFT PANEL ########## -->

<!-- ########## START: HEAD PANEL ########## -->
<div class="br-header">
    <div class="br-header-left">
        <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href="#"><i class="icon ion-navicon-round"></i></a>
        </div>
        <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href="#"><i class="icon ion-navicon-round"></i></a>
        </div>
    </div><!-- br-header-left -->
    <div class="br-header-right">
        <nav class="nav">
            <div class="dropdown">
                <a href="" class="nav-link pd-x-7 pos-relative" data-toggle="dropdown">
                    <i class="icon ion-ios-bell-outline tx-24"></i>
                    <!-- start: if statement -->
                    <span class="bg-danger pos-absolute t-15 r-5 rounded-circle" id="userNotifyIcon"></span>
                    <!-- end: if statement -->
                </a>
                <div class="dropdown-menu dropdown-menu-header wd-300 pd-0-force">
                    <div class="d-flex align-items-center justify-content-between pd-y-10 pd-x-20 bd-b bd-gray-200">
                        <label class="tx-12 tx-info tx-uppercase tx-semibold tx-spacing-2 mg-b-0">通知</label>
                        <a href="javascript:" class="tx-11" id="userNotifyReads">全部标记为已读</a>
                    </div><!-- d-flex -->

                    <div class="media-list">
                        <div id="userNotifyData">
                            <p class="text-center pd-x-20 pd-y-15">
                                <small>无任何消息</small>
                            </p>
                        </div>

                        <div class="pd-y-10 tx-center bd-t">
                            <a href="#/users/notify" class="tx-12 dy_href"><i class="fa fa-angle-down mg-r-5"></i>
                                显示所有通知</a>
                        </div>
                    </div><!-- media-list -->
                </div><!-- dropdown-menu -->
            </div><!-- dropdown -->
            <div class="dropdown">
                <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
                    <span class="logged-name hidden-md-down" th:text="${realName}"></span>
                    <img th:src="@{${avatar}}" class="wd-32 rounded-circle" alt="">
                    <span class="square-10 bg-success"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-header wd-200">
                    <ul class="list-unstyled user-profile-nav">
                        <li><a href="#/users/profile" class="dy_href"><i class="icon ion-ios-person"></i> 资料</a></li>
                        <li><a href="#/users/setting" class="dy_href"><i class="icon ion-ios-gear"></i> 设置</a></li>
                        <li><a href="javascript:$('#logout').submit();"><i class="icon ion-power"></i> 退出</a></li>
                    </ul>
                </div><!-- dropdown-menu -->
            </div><!-- dropdown -->
        </nav>

    </div><!-- br-header-right -->
</div><!-- br-header -->
<!-- ########## END: HEAD PANEL ########## -->
<!-- ########## START: MAIN PANEL ########## -->
<div class="br-mainpanel">
    <div id="page-wrapper">
        <div class="pd-30">
            <h4 class="tx-gray-800 mg-b-5">欢迎您! <span th:text="${realName}"></span></h4>
        </div><!-- d-flex -->

        <div class="br-pagebody mg-t-5 pd-x-30">
            <div class="br-section-wrapper">
                <div id="systemNotifyData">
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="jumbotron">
                            <h1 class="display-4">Hello, world!</h1>
                            <p class="lead">躯体总是以惹人厌烦告终。除思想以外，没有什么优美和有意思的东西留下来，因为思想就是生命。 —— 萧伯纳</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- br-pagebody -->
    </div>
    <footer class="br-footer" th:include="footer::footer">
    </footer>
</div><!-- br-mainpanel -->
<!-- ########## END: MAIN PANEL ########## -->

<!-- ########## START: FLOAT BUTTON ########## -->
<ul id="menu" class="mfb-component--br mfb-zoomin" data-mfb-toggle="hover">
    <li class="mfb-component__wrap">
        <a href="javascript:" class="mfb-component__button--main" style="background-color: #17a2b8">
            <i class="mfb-component__main-icon--resting ion-plus-round"></i>
            <i class="mfb-component__main-icon--active ion-close-round"></i>
        </a>
        <ul class="mfb-component__list">
            <li>
                <a href="javascript:history.go(-1)" data-mfb-label="返回上一级" class="mfb-component__button--child"
                   style="background-color: #17a2b8">
                    <i class="mfb-component__child-icon ion-arrow-return-left"></i>
                </a>
            </li>
            <li>
                <a href="javascript:window.scrollTo(0, 0)" data-mfb-label="返回顶层" class="mfb-component__button--child"
                   style="background-color: #17a2b8">
                    <i class="mfb-component__child-icon ion-arrow-up-a"></i>
                </a>
            </li>
        </ul>
    </li>
</ul>
<!-- ########## END: FLOAT BUTTON ########## -->

<!--通知模板-->
<script id="users-notify-template" type="text/x-handlebars-template">
    {{#each listResult}}
    <a href="javascript:" data-toggle="modal" data-target="#userNotifyModal" class="media-list-link read"
       data-id="{{userNotifyId}}">
        <div class="media pd-x-20 pd-y-15">
            <div class="media-body">
                <p class="tx-13 mg-b-0 tx-gray-700 text-{{notifyType}}">{{notifyTitle}}</p>
                <span class="tx-12">{{create_date}}</span>
            </div>
        </div><!-- media -->
    </a>
    {{/each}}
</script>

<!-- 通知Modal -->
<div class="modal fade" id="userNotifyModal" tabindex="-1" role="dialog" aria-labelledby="userNotifyModalTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userNotifyModalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="userNotifyModalSendUserInfo"></p>
                <p id="userNotifyModalContent"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!--系统通知模板-->
<script id="system-notify-template" type="text/x-handlebars-template">
    {{#each listResult}}
    <div class="alert alert-{{notifyType}} alert-bordered pd-y-20" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <div class="d-sm-flex align-items-center justify-content-start">
            <div class="mg-t-20 mg-sm-t-0">
                <h5 class="mg-b-2 tx-{{notifyType}}">{{notifyTitle}}</h5>
                <p class="mg-b-0 tx-gray">{{notifyContent}}</p>
            </div>
        </div><!-- d-flex -->
    </div>
    {{/each}}
</script>

<!-- 退出 -->
<form th:action="@{/logout}" method="POST" id="logout" hidden>
    <input type="submit"/>
</form>

<script src="webjarsjs" th:src="@{/webjarsjs}"></script>
<script src="webjars/requirejs/require.min.js" th:src="@{/webjars/requirejs/require.min.js}"
        data-main="/backstage"></script>
<script th:inline="javascript">
    var web_path = /*[[${#httpServletRequest.getContextPath()}]]*/ '';
    require.config({
        baseUrl: web_path + "/js/backstage",
        waitSeconds: 0,
        urlArgs: "v=" + /*[[${staticResourceVersion}]]*/ ''
    });
</script>
</body>
</html>