<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" class="pos-relative">
<head th:include="header :: no-metas-header(~{::title},~{::link})">
    <title>ERROR</title>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>

<div class="jumbotron text-center">
    <h1>暂停服务通知</h1>
    <p>通告：因2019-10-13 09:00:00 ~ 2019-10-13 22:00:00 进行18级实训考试，期间暂停实习服务，请谅解。</p>
</div>

</body>
</html>
