<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" class="pos-relative">
<head th:include="header :: no-links-metas-header(~{::title})">
    <title>ERROR</title>
</head>
<body>

<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">

    <div class="ex-page-content text-center">
        <div class="text-error shadow-text" th:text="${status}">500</div>
        <h3 class="text-uppercase text-white font-600" th:text="${message}">Internal Server Error</h3>
        <p class="text-white m-t-30">
            您可以尝试刷新页面，或加入Q群:<b>159318834</b>寻求更多帮助</a>
        </p>
        <br>
        <a class="btn btn-pink waves-effect waves-light" href="" th:href="@{/}"> 返回首页</a>

    </div>


</div>
<!-- end wrapper page -->

</body>
</html>
