<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" class="pos-relative">
<head th:include="header :: no-metas-header(~{::title},~{::link})">
    <title>ERROR</title>
    <!-- Bracket CSS -->
    <link rel="stylesheet" href="plugins/css/bracket.css" th:href="@{/plugins/bracket/css/bracket.min.css}" />
</head>
<body>

<div class="ht-100v d-flex align-items-center justify-content-center">
    <div class="wd-lg-70p wd-xl-50p tx-center pd-x-40">
        <h1 class="tx-100 tx-xs-140 tx-normal tx-inverse tx-roboto mg-b-0" th:text="${status}"></h1>
        <h5 class="tx-xs-24 tx-normal tx-info mg-b-30 lh-5" th:text="${message}"></h5>
    </div>
</div><!-- ht-100v -->

</body>
</html>
