<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: no-links-header(~{::meta},~{::title})">
    <!-- csrf -->
    <meta name="_csrf" content="" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" content="" th:content="${_csrf.headerName}"/>
    <title th:text="'忘记密码-' + #{ web.title}">ZHE</title>
</head>
<body>

<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">

    <div class="account-bg">
        <div class="card-box mb-0">
            <div class="text-center m-t-20">
                <a href="index.html" class="logo">
                    <i class="zmdi zmdi-group-work icon-c-logo"></i>
                    <span th:text="#{web.app.name}"></span>
                </a>
            </div>
            <div class="m-t-10 p-20">
                <div class="row">
                    <div class="col-12 text-center">
                        <h6 class="text-muted text-uppercase m-b-0 m-t-0">忘记密码</h6>
                    </div>
                </div>
                <form class="m-t-20">

                    <div class="form-group row">
                        <div class="col-12">
                            <select class="form-control" id="verificationMode">
                                <option value="0">邮箱验证</option>
                                <option value="1">手机号验证</option>
                            </select>
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <input type="email" name="email" id="email" class="form-control" placeholder="邮箱">
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>

                    <div class="form-group row" style="display: none">
                        <div class="col-12">
                            <input type="text" class="form-control" placeholder="手机号" id="mobile"/>
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>

                    <div class="form-group row" style="display: none">
                        <div class="col-12">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="验证码" id="verificationCode" aria-label="验证码" aria-describedby="verificationCodeHelp">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="sendCode">获取</button>
                                </div>
                            </div>
                            <small id="verificationCodeHelp" class="form-text text-muted"></small>
                        </div>
                    </div>

                    <div class="form-group text-danger" id="globalError"></div>

                    <div class="form-group row text-center m-t-10">
                        <div class="col-12">
                            <button class="btn btn-success btn-block waves-effect waves-light" type="button" id="sure">确 定</button>
                        </div>
                    </div>


                </form>

            </div>
        </div>
    </div>
    <!-- end card-box-->

    <div class="m-t-20">
        <div class="text-center">
            <p class="text-white">想起密码了? <a href="" class="text-white m-l-5" th:href="@{/login}"><b>登录</b> </a>
                <a href="" class="text-white m-l-5" data-toggle="modal" data-target="#modalQuestion">问题反馈</a></p>
        </div>
    </div>

</div>
<!-- end wrapper page -->

<!-- 问题反馈 -->
<div id="modalQuestion" class="modal fade">
    <div class="modal-dialog modal-dialog-vertical-center" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">问题反馈</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="feedbackForm">
                    <div class="form-group">
                        <input class="form-control" type="text" name="realName" id="feedbackRealName"
                               placeholder="您的姓名">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" name="userEmail" id="feedbackUserEmail"
                               placeholder="您的邮箱">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="simpleDes" id="simpleDes" placeholder="简单描述">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <textarea rows="3" class="form-control" name="detailDes" id="detailDes"
                                  placeholder="详细描述"></textarea>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group text-danger" id="feedbackError"></div>
                    <div class="form-group">请您耐心等待，我们稍后会及时联系您，若处理超时，您还可以加入QQ群:159318834，寻求帮助。</div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary"
                        id="feedbackSave">提交
                </button>
            </div>
        </div>
    </div><!-- modal-dialog -->
</div><!-- modal -->
<script src="webjarsjs" th:src="@{/webjarsjs}"></script>
<script src="webjars/requirejs/require.min.js" th:src="@{/webjars/requirejs/require.min.js}"
        data-main="/forget_password"></script>
<script th:inline="javascript">
    var web_path = /*[[${#httpServletRequest.getScheme()+'://'+#httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()+#httpServletRequest.getContextPath()}]]*/ '';
    require.config({
        baseUrl: web_path + "/js/login",
        waitSeconds: 0
    });
</script>
</body>
</html>