<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" class="pos-relative">
<head th:include="header :: header(~{::meta},~{::title},~{::link})">
    <!-- csrf -->
    <meta name="_csrf" content="" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" content="" th:content="${_csrf.headerName}"/>
    <title th:text="'重置密码-' + #{ web.title}">ZHE</title>

    <link href="plugins/jquery-entropizer/css/jquery-entropizer.min.css" rel="stylesheet"
          th:href="@{/plugins/jquery-entropizer/css/jquery-entropizer.min.css}"/>
    <!-- Bracket CSS -->
    <link rel="stylesheet" href="plugins/css/bracket.css" th:href="@{/plugins/bracket/css/bracket.min.css}"/>
</head>
<body>

<div class="d-flex align-items-center justify-content-center bg-br-primary ht-100v">

    <div class="login-wrapper wd-300 wd-xs-400 pd-25 pd-xs-40 bg-white rounded shadow-base">
        <div class="signin-logo tx-center tx-28 tx-bold tx-inverse"><span class="tx-normal">[</span> <span
                th:text="#{web.app.name}"></span> <span class="tx-normal">]</span></div>
        <div class="tx-center mg-b-40">重置密码</div>

        <div class="form-group">
            <input type="password" name="password" id="password" aria-describedby="passwordHelp" class="form-control"
                   placeholder="新密码">
            <div class="invalid-feedback"></div>
            <div id="meter2"></div>
            <small id="passwordHelp" class="form-text text-muted">密码至少包含数字与字母，可使用特殊符号，长度6~20位</small>
            <input type="hidden" name="username" id="username" th:value="${username}"/>
            <input type="hidden" name="verificationMode" id="verificationMode" th:value="${verificationMode}"/>
            <input type="hidden" name="passwordResetKey" id="passwordResetKey" th:value="${passwordResetKey}"/>
        </div>

        <div class="form-group">
            <input type="password" name="okPassword" id="okPassword" class="form-control" placeholder="确认密码">
            <div class="invalid-feedback"></div>
        </div>

        <div class="form-group text-danger" id="globalError"></div>

        <button type="button" class="btn btn-info btn-block" id="sure">确 定</button>

        <div class="mg-t-40 tx-center">记起密码了？<a href="" th:href="@{/login}" class="tx-info">登 录</a></div>
    </div><!-- login-wrapper -->
</div><!-- d-flex -->

<script src="webjarsjs" th:src="@{/webjarsjs}"></script>
<script src="webjars/requirejs/require.min.js" th:src="@{/webjars/requirejs/require.min.js}"
        data-main="/reset_password"></script>
<script th:inline="javascript">
    var web_path = /*[[${#httpServletRequest.getContextPath()}]]*/ '';
    require.config({
        baseUrl: web_path + "/js/login",
        waitSeconds: 0,
        urlArgs: "v=" + /*[[${staticResourceVersion}]]*/ ''
    });
</script>
</body>
</html>