<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" class="pos-relative">
<head th:include="header :: no-links-metas-header(~{::title})">
    <title>提示</title>
</head>
<body>
<div class="d-flex align-items-center justify-content-center" style="margin-top: 10%">
    <div class="text-center">
        <div class="alert alert-success alert-bordered " role="alert" th:if="${successTip}">
            <div class="d-sm-flex align-items-center justify-content-start">
                <div class="mg-t-20 mg-sm-t-0">
                    <h5 class="mg-b-2 tx-success" th:text="${title}"></h5>
                    <p class="mg-b-0 tx-gray" th:text="${subTitle}"></p>
                </div>
            </div><!-- d-flex -->
        </div>
        <div class="alert alert-info alert-bordered" role="alert" th:if="${infoTip}">
            <div class="d-sm-flex align-items-center justify-content-start">
                <div class="mg-t-20 mg-sm-t-0">
                    <h5 class="mg-b-2" th:text="${title}"></h5>
                    <p class="mg-b-0 tx-gray" th:text="${subTitle}"></p>
                </div>
            </div><!-- d-flex -->
        </div>
        <div class="alert alert-warning alert-bordered" role="alert" th:if="${warningTip}">
            <div class="d-sm-flex align-items-center justify-content-start">
                <div class="mg-t-20 mg-sm-t-0">
                    <h5 class="mg-b-2 tx-warning" th:text="${title}"></h5>
                    <p class="mg-b-0 tx-gray" th:text="${subTitle}"></p>
                </div>
            </div><!-- d-flex -->
        </div>
        <div class="alert alert-danger alert-bordered" role="alert" th:if="${dangerTip}">
            <div class="d-sm-flex align-items-center justify-content-start">
                <div class="mg-t-20 mg-sm-t-0">
                    <h5 class="mg-b-2 tx-danger" th:text="${title}"></h5>
                    <p class="mg-b-0 tx-gray" th:text="${subTitle}"></p>
                </div>
            </div><!-- d-flex -->
        </div>
        <div class="card card-body" th:unless="${#lists.isEmpty(buttons)}">
            <p class="card-text">
                <button type="button" th:each="btn : ${buttons}" th:class="${btn.btnClass}" th:text="${btn.btnText}"
                   th:href="@{${btn.btnLink}}" onclick="window.location.href = this.getAttribute('href');"></button>
            </p>
        </div><!-- card -->
    </div>
</div><!-- ht-100v -->

</body>
</html>