<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<div id="page-wrapper">
    <div class="pd-30">
        <h4 class="tx-gray-800 mg-b-5">设置</h4>
        <p class="mg-b-0">修改您的账号密码信息。</p>
    </div><!-- d-flex -->

    <div class="br-pagebody mg-t-5 pd-x-30">
        <div class="br-section-wrapper">
            <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10">账号资料</h6>
            <p class="mg-b-25 mg-lg-b-50">请牢记您的账号密码，更换邮箱或手机号时，及时更新资料，避免造成其它影响</p>

            <div class="row">
                <div class="col-md-6">
                    <form>
                        <div class="form-group row">
                            <label for="username" class="col-sm-3 col-form-label">账号:</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control-plaintext" id="username"
                                       th:value="${username}">
                                <div class="invalid-feedback"></div>
                                <input type="hidden" id="defaultUsername" th:value="${username}"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 text-right">
                    <button class="btn btn-success mg-b-10" hidden="hidden" id="updateUsername">确定</button>
                    <button class="btn btn-secondary mg-b-10" hidden="hidden" id="cancelUpdateUsername">取消</button>
                    <button class="btn btn-primary mg-b-10" id="editUsername">修改</button>
                </div>
                <div class="col-md-6">
                    <form>
                        <div class="form-group row">
                            <label for="email" class="col-sm-3 col-form-label">邮箱:</label>
                            <div class="col-sm-9">
                                <input type="email" readonly class="form-control-plaintext" th:value="${email}">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 text-right">
                    <button class="btn btn-primary mg-b-10" data-toggle="modal" data-target="#emailModal">修改</button>
                </div>
                <div class="col-md-6">
                    <form>
                        <div class="form-group row">
                            <label for="mobile" class="col-sm-3 col-form-label">手机号:</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control-plaintext" th:value="${mobile}">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 text-right">
                    <button class="btn btn-primary mg-b-10" data-toggle="modal" data-target="#mobileModal">修改</button>
                </div>
                <div class="col-md-6">
                    <form>
                        <div class="form-group row">
                            <label for="idCard" class="col-sm-3 col-form-label">身份证号:</label>
                            <div class="col-sm-9">
                                <input type="text" readonly class="form-control-plaintext" id="idCard"
                                       th:value="${idCard}">
                                <div class="invalid-feedback"></div>
                                <input type="hidden" id="defaultIdCard" th:value="${idCard}"/>
                                <input type="hidden" id="plaintextIdCard" th:value="${plaintextIdCard}"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 text-right">
                    <button class="btn btn-success mg-b-10" hidden="hidden" id="updateIdCard">确定</button>
                    <button class="btn btn-secondary mg-b-10" hidden="hidden" id="cancelUpdateIdCard">取消</button>
                    <button class="btn btn-primary mg-b-10" id="editIdCard">修改</button>
                </div>
                <div class="col-md-6">
                    <form>
                        <div class="form-group row">
                            <label for="googleOauth" class="col-sm-3 col-form-label">双因素验证:</label>
                            <div class="col-sm-9 pt-1">
                                <span class="form-control-plaintext" id="googleOauth" th:if="${isOpenGoogleOauth==1}">已开启</span>
                                <span class="form-control-plaintext" id="googleOauth" th:if="${isOpenGoogleOauth==0}">未开启</span>
                                <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top"
                                   title="开启双因素认证之后，可使用动态密码更改密码，手机号和邮箱"></i>
                                <a class="btn btn-outline-primary btn-sm ml-3" href="#"
                                   th:href="@{/goods/Google Authenticator.apk}">安卓客户端</a>
                                <a class="btn btn-outline-primary btn-sm"
                                   href="https://apps.apple.com/cn/app/id388497605" target="_blank">苹果客户端</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 text-right">
                    <div class="toggle-wrapper">
                        <div class="toggle toggle-light primary" id="googleOauthSwitch"></div>
                    </div>
                </div>
            </div>

            <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-t-100 mg-b-10">修改密码</h6>
            <p class="mg-b-25 mg-lg-b-50">设置常用且复杂的密码能有效避免您的信息泄露</p>
            <form role="form">
                <div class="form-group row">
                    <label for="oldPassword" class="col-sm-4 form-control-label">旧密码<span
                            class="text-danger">*</span></label>
                    <div class="col-sm-7">
                        <input id="oldPassword" type="password" placeholder="输入旧密码"
                               class="form-control">
                        <div class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="newPassword" class="col-sm-4 form-control-label">新密码<span
                            class="text-danger">*</span></label>
                    <div class="col-sm-7">
                        <input id="newPassword" type="password" aria-describedby="passwordHelp"
                               placeholder="输入密码" class="form-control">
                        <div class="invalid-feedback"></div>
                        <div id="meter2"></div>
                        <small id="passwordHelp" class="form-text text-muted">密码为6-16位任意字母、数字或下划线
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="confirmPassword" class="col-sm-4 form-control-label">确认新密码
                        <span class="text-danger">*</span></label>
                    <div class="col-sm-7">
                        <input type="password" placeholder="确认密码" class="form-control"
                               id="confirmPassword">
                        <div class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 text-danger" id="globalPasswordError">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 text-center">
                        <button type="button" class="btn btn-primary waves-effect waves-light"
                                id="updatePassword">
                            保存
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- 邮箱修改Modal -->
    <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="emailModalLabel">邮箱修改</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="mg-t-20">
                        <div class="form-group row">
                            <div class="col-12">
                                <select class="form-control" id="emailPasswordMode">
                                    <option value="0">密码验证</option>
                                    <option value="1">动态密码验证</option>
                                </select>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-12">
                                <input id="emailPassword" type="password" placeholder="输入登录密码"
                                       class="form-control">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>

                        <div class="form-group row" style="display: none">
                            <div class="col-12">
                                <input id="emailPasswordDynamicPassword" type="password" placeholder="输入动态密码"
                                       class="form-control">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-12">
                                <input type="email" class="form-control" placeholder="邮箱" id="email"/>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="form-group text-danger" id="globalEmailError"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="saveEmail">确定</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 手机号修改Modal -->
    <div class="modal fade" id="mobileModal" tabindex="-1" role="dialog" aria-labelledby="mobileModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mobileModalLabel">手机号修改</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="mg-t-20">
                        <div class="form-group row">
                            <div class="col-12">
                                <select class="form-control" id="mobilePasswordMode">
                                    <option value="0">密码验证</option>
                                    <option value="1">动态密码验证</option>
                                </select>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-12">
                                <input id="mobilePassword" type="password" placeholder="输入登录密码"
                                       class="form-control">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>

                        <div class="form-group row" style="display: none">
                            <div class="col-12">
                                <input id="mobilePasswordDynamicPassword" type="password" placeholder="输入动态密码"
                                       class="form-control">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-12">
                                <input type="text" class="form-control" placeholder="手机号" id="mobile"/>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="验证码" id="verificationCode"
                                           aria-label="验证码" aria-describedby="verificationCodeHelp">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="sendCode">获取
                                        </button>
                                    </div>
                                </div>
                                <small id="verificationCodeHelp" class="form-text text-muted"></small>
                            </div>
                        </div>
                        <div class="form-group text-danger" id="globalMobileError"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="saveMobile">确定</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 双因素认证开启Modal -->
    <div class="modal fade" id="openGoogleOauthModal" tabindex="-1" role="dialog"
         aria-labelledby="openGoogleOauthModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="openGoogleOauthModalLabel">双因素认证开启</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="mg-t-20">
                        <div class="form-group row">
                            <div class="col-12">
                                <input id="googleOauthPassword" type="password" placeholder="输入登录密码"
                                       class="form-control">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>

                        <div class="form-group row" style="display: none">
                            <div class="col-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" readonly placeholder="双因素认证密钥"
                                           id="googleOauthKey"/>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="copyGoogleOauthKey"
                                                data-clipboard-target="#googleOauthKey">复制
                                        </button>
                                    </div>
                                </div>
                                <small id="googleOauthKeyHelp" class="form-text text-muted">
                                    提示：请复制以上密钥留存后，下载谷哥身份认证登录工具，在新建密钥框中填入以上密钥。
                                </small>
                            </div>
                        </div>

                        <div class="form-group text-danger" id="globalGoogleOauthError"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="openGoogleOauth">确定</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 双因素认证关闭Modal -->
    <div class="modal fade" id="closeGoogleOauthModal" tabindex="-1" role="dialog"
         aria-labelledby="closeGoogleOauthModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="closeGoogleOauthModalLabel">密码验证</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="mg-t-20">
                        <div class="form-group row">
                            <div class="col-12">
                                <select class="form-control" id="closeGoogleOauthMode">
                                    <option value="0">密码验证</option>
                                    <option value="1">动态密码验证</option>
                                </select>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-12">
                                <input id="closeGoogleOauthPassword" type="password" placeholder="输入登录密码"
                                       class="form-control">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>

                        <div class="form-group row" style="display: none">
                            <div class="col-12">
                                <input id="closeGoogleOauthDynamicPassword" type="password" placeholder="输入动态密码"
                                       class="form-control">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>

                        <div class="form-group text-danger" id="globalCloseGoogleOauthError"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="closeGoogleOauth">确定</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" class="dy_script"
           th:value="${@mvcResourceUrlProvider.getForLookupPath('/js/platform/users/users_setting.js')}"/>
</div>
<!-- /#page-wrapper -->
</body>

</html>
